@import "@fontsource/mulish";
@import "tailwindcss";

@theme {
    --font-main: "Mulish", Arial, sans-serif;

    --color-primary: hsl(224, 76%, 48%);
    --color-secondary: hsl(234, 18%, 68%);
    --color-important: hsl(0, 93%, 42%);
    --color-active: hsl(164, 100%, 36%);
    --title-info-darkgrey: hsl(247, 15%, 35%);
    --title-info-grey: hsl(0, 0%, 67%);
    --color-bg: hsl(220, 18%, 97%);
}

body {
    font-family: var(--font-main);
}